@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #2e75b8;
  --color-background-light: #f6f7f8;
  --color-background-dark: #13191f;
  --font-display: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-background-light);
  color: #0f172a; /* slate-900 */
}

